
@media  screen and (max-width: 575.98px) {
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navigation{
        display: none;
    }
    .sidebartoggler{
        order: 2;
    }
    .logo{
        display: flex;
        flex-basis: 40%;
        justify-content: flex-start;
        margin-left: 1rem;
    }
    .canvas{
        width: 100%;
    }
    .accountbuttons{
        display: none;
    }
}